body
{
	background-color:#white;
	font-family: calibri;
}

#head{
	margin:0;
	padding: 0;
	width: 100%;
	height:8vw;
	background-image: linear-gradient(to right, white, white, #0F9DE8, #0F9DE8, blue)	
}

#head img{
	position: absolute;
	height: 8vw;
}


#head h1{
	font-family: impact;
	text-shadow: black 1px 0 10px;
	color:white;
	font-size: 4.2vw;
}








.grid-3{
	padding:1%;
	border: 1px solid black;
	font-size: 0.8em;
}

.col-gauche{
	width:25%;
	height:300px;
	background-color: gray;
}

.titre {
	height:1.5vw;
	font-size: 1vw;
	color: white;
	background-color: green;
	padding-top: 1px;
	padding-left: 2px;
	padding-bottom: 1px;
}

#formulaire
{
	margin: 2%;
	border: 1px solid black;
	max-width: 50%;
}

form {

	padding:10px;
	font-size: 0.7em;
}

input {
	display: flex;
}