		<header>
			<div id="head">
				<img src="img/logo.png" alt="Logo">
				<center> <h1>Partenaire de croissance des régions</h1> </center>
			</div>

			<nav id ="menu">
				<ul>
					<li><a href="index.php">Accueil</a></li>
					<li><a href="">A propos</a></li>
					<li><a href="">Activités</a></li>
					<li><a href="">Membres et Partenaires</a></li>	
					<li><a href="budget.php">Budget</a>
						<ul>
							<li><a href="budget.php">Afficher les budgets</a></li>
							<li><a href="addLigne.php">Saisir une ligne</a></li>
							<li><a href="addEntry.php">Saisir une entrée</a></li>
							<li><a href="">Associer une entrée</a></li>
							<li><a href="">Affichage des états</a></li>
						</ul>
					</li>
					<li><a href="evenement.php">Évènements</a>
						<ul>
							<li><a href="evenement.php">Afficher les événements</a></li>
							<li><a href="addEvenement.php">Saisir un événement</a></li>
							<li><a href="">Associer un événement</a></li>

						</ul>				
					</li>

				<li><a href="">Espace médias</a></li>
				<li style="float:right;"><a href="">Publications</a></li>
			</ul>
		</nav>
	</header>