body
{
	background-color:#white;
	font-family: calibri;
}


.grid-3{
	padding:1%;
	border: 1px solid black;
	font-size: 0.8em;
}

.grid-3 .titre a{
	color:white;
	font-style: none;
}

.col-gauche{
	width:50%;
	height:300px;
	background-color: #F7F7F7;
}

.titre {
	height:1.8vw;
	width:25%;
	font-size: 1vw;
	color: white;
	background-color: green;
	margin:5px;
	padding-top: 1px;
	padding-left: 5px;
	padding-bottom: 1px;
	font-weight: bold;
}


.titre2 {
	height:1.8vw;
	width:20%;
	font-size: 1vw;
	color: white;
	background-color: green;
	margin:20px;
	padding-top: 1px;
	padding-left: 5px;
	padding-bottom: 1px;
	font-weight: bold;
}



.titre_event{
	color:blue;
	font-weight: bold;

}
