
#formulaire
{
	margin: 2%;
	border: 1px solid black;
	max-width: 50%;
}

form {
	padding:10px;
	font-size: 0.8em;
}

form>p {
	font-size: 1.2em;
	font-weight: bold;
}

form>img {
	margin-left: 25%;
}

.paiement{
	margin-left: 20px;
}

input {
	display: flex;
}
