#head{
	margin:0;
	padding: 0;
	width: 100%;
	height:8vw;
	background-image: linear-gradient(to right, white, white, blue, blue, #1034A6, #1034A6)	
}

#head img{
	position: absolute;
	height: 8vw;
}


#head h1{
	font-family: impact;
	text-shadow: black 1px 0 10px;
	color:white;
	font-size: 4.2vw;
}


#menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	overflow: hidden;
	list-style-type: none;
	background-color: #1034A6;
}

#menu li {
	float:left;
	font-weight: bold;
	border:1px solid black;
	padding:0;
	background-color:#1034A6;
	text-align: center;
	min-width: 10%;
}

#menu a {
	display:block;
	padding:0.8vw;
	font-size: 15px;
	width:auto;
	color:white;
	font-size: 1.05vw;
	text-decoration:none;
}

#menu ul li ul{
	display:none;
}

#menu li a:hover{
	background-color:#34C924;
}

#menu li a:active{
	background-color:#3AF24B;	
}


#menu ul li:hover ul {
	display:block;
}

#menu li:hover ul li {
	float:none;
}

#menu li ul {
	position:fixed;
}